/* $Id: ase.css,v 1.3 2007/09/10 10:54:36 sebastien Exp $ */

#aseSearch {
	padding:			40px 0 0 0;
}
#aseSearch h4 {
	margin:			0;
	padding:		0;
}
#aseSearch h4 img {
	vertical-align:	middle;
}
#aseSearch hr {
	text-align:		center;
	border:			0px;
	border-top:		1px solid #000000;
	margin:			10px auto 10px auto;
}
#aseSearch form {
	text-align:		center;
	margin:			20px 0 20px 0;
}
#aseSearch .right {
	text-align:		right;
}
#aseSearch .center {
	text-align:		center;
}
#aseSearch .alert {
	color:			red;
}
#aseSearch .noresults {
	margin:			100px 0 100px 0;
	color:			red;
	text-align:		center;
	font-weight:	bold;
}
#aseSearch p {
	width:			90%;
	margin:			0 0 3px 20px;
	padding:		0px;
}
#aseSearch ul {
	margin-left:	0;
	padding-left:	0;
	
}
#aseSearch ul li strong {
	float:			left;
	width:			88px;
	text-align:		right;
}
#aseSearch ul li p {
	margin:			0 0 0 92px;
	position:		relative;
}
#aseSearch ul li {
	white-space:	nowrap;
	margin-bottom:	10px;
	list-style:		none;
}
#aseSearch div.relevanceContainer {
	margin-top:		4px;
	width:			40px;
	height:			8px;
	border:			1px solid black;
	float:			left;
}
#aseSearch div.relevance {
	background-color:green;
	height:			8px;
	cursor:			help;
}
#aseHelp {
	display:		none;
}